<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Result Page</title>
</head>
<body>
<h3  style="text-align: center">Детальные результаты</h3>
<h3  style="text-align: center">Результаты расчета формул</h3>
<table>
    <thead>
    <tr>
        <th>Формула</th>
        <th>Результат</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tr>
        <td>
            <span >Критерий крамера до эксперемента</span>
        </td>
        <td>
            <span th:text="${RF.getCramerList().get(0)<=1.96}?'Характеристики совпадают':'Характеристики не совпадают'">></span>
        </td>
        <td>
            <span th:text="${F.Format(RF.getCramerList().get(0))}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span >Критерий крамера после эксперемента</span>
        </td>
        <td>
            <span th:text="${RF.getCramerList().get(1)<=1.96}?'Характеристики совпадают':'Характеристики не совпадают'">></span>
        </td>
        <td>
            <span th:text="${F.Format(RF.getCramerList().get(1))}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span >Критерий Вилкоксона до эксперемента</span>
        </td>
        <td>
            <span th:text="${RF.getVilkasList().get(0)<=1.96}?'Характеристики совпадают':'Характеристики не совпадают'">></span>
        </td>
        <td>
            <span th:text="${F.Format(RF.getVilkasList().get(0))}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span >Критерий Вилкоксона после эксперемента</span>
        </td>
        <td>
            <span th:text="${RF.getVilkasList().get(1)<=1.96}?'Характеристики совпадают':'Характеристики не совпадают'">></span>
        </td>
        <td>
            <span th:text="${F.Format(RF.getVilkasList().get(1))}"></span>
        </td>
    </tr>

        <tr>
            <td><span th:text="'Хи квадрат до эксперемента'"> Результат </span></td>
            <td>
                <span th:if="${RF.getXiCTF()<=RF.getAlphaForXi().get(RF.getScoreNumber()-2)}" th:text="'характеристики совпадают'"></span>
                <span th:unless="${RF.getXiCTF()<=RF.getAlphaForXi().get(RF.getScoreNumber()-2)}" th:text="'характеристики не совпадают'"></span>
            </td>
            <td>
                <span th:text="${RF.Format(RF.getXiCTF())}"></span>
            </td>
        </tr>
        <tr>
            <td><span th:text="'Хи квадрат после эксперемента'"> Результат </span></td>
            <td>
                <span th:if="${RF.getXiCTT()<=RF.getAlphaForXi().get(RF.getScoreNumber()-2)}" th:text="'характеристики совпадают'"></span>
                <span th:unless="${RF.getXiCTT()<=RF.getAlphaForXi().get(RF.getScoreNumber()-2)}" th:text="'характеристики не совпадают'"></span>
            </td>
            <td>
                <span th:text="${RF.Format(RF.getXiList().get(2).get(3))}"></span>
            </td>
        </tr>

    <th:block th:if="${RF.getScoreNumber()==2}">
        <tr>
            <td><span th:text="'Формула фишера до эксперемента'"> Результат </span></td>
            <td>
                <span th:if="${RF.getFisherCTF()<=1.64}" th:text="'характеристики совпадают'"></span>
                <span th:unless="${RF.getFisherCTF()<=1.64}" th:text="'характеристики не совпадают'"></span>
            </td>
            <td>
                <span th:text="${RF.Format(RF.getFisherCTF())}"></span>
            </td>
        </tr>
        <tr>
            <td><span th:text="'Формула фишера после эксперемента'"> Результат </span></td>
            <td>
                <span th:if="${RF.getFisherCTT()<=1.64}" th:text="'характеристики совпадают'"></span>
                <span th:unless="${RF.getFisherCTT()<=1.64}" th:text="'характеристики не совпадают'"></span>
            </td>
            <td>
                <span th:text="${RF.Format(RF.getFisherCTT())}"></span>
            </td>
        </tr>
    </th:block>
</table>

<h3  style="text-align: center">Результаты измерений в порядковой шкале</h3>
<table>
    <thead>
    <tr>
        <th> Кол-во баллов </th>
        <th> Контрольная группа до начала эксперемента (чел.)</th>
        <th> Эксперементальная группа до начала эксперемента (чел.)</th>
        <th> Контрольная группа после  эксперемента (чел.)</th>
        <th> Эксперементальная группа после эксперемента (чел.)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result:${RF.getScore()}">
        <td><span th:text="'Баллов '+${resultStat.index+1}"></span></td>
        <td><span th:text="${result.get(0)}+' составляют '+${F.Format(F.percent(result.get(0),RF.groups.get(0).size()))}+'% группы'"></span></td>
        <td><span th:text="${result.get(2)}+' составляют '+${F.Format(F.percent(result.get(2),RF.groups.get(2).size()))}+'% группы'"></span></td>
        <td><span th:text="${result.get(1)}+' составляют '+${F.Format(F.percent(result.get(1),RF.groups.get(1).size()))}+'% группы'"></span></td>
        <td><span th:text="${result.get(3)}+' составляют '+${F.Format(F.percent(result.get(3),RF.groups.get(3).size()))}+'% группы'"></span></td>
    </tr>
    </tbody>
</table>


    <h3  style="text-align: center">Эмпирические значения критерия Хи квадрат для данных</h3>
    <table>
        <thead>
        <tr>
            <th>  </th>
            <th> Контрольная группа до начала эксперемента</th>
            <th> Эксперементальная группа до начала эксперемента </th>
            <th> Контрольная группа после эксперемента</th>
            <th> Эксперементальная группа после эксперемента</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result:${RF.getXiList()}">
            <td>
                <span th:if="${resultStat.index==0}" th:text="'Контрольная группа до начала эксперемента'"></span>
                <span th:if="${resultStat.index==1}" th:text="'Эксперементальная группа до начала эксперемента'"></span>
                <span th:if="${resultStat.index==2}" th:text="'Контрольная группа после эксперемента'"></span>
                <span th:if="${resultStat.index==3}" th:text="'Эксперементальная группа после эксперемента'"></span>
            </td>
            <td><span th:text="${RF.Format(result.get(0))}"></span></td>
            <td><span th:text="${RF.Format(result.get(1))}"></span></td>
            <td><span th:text="${RF.Format(result.get(2))}"></span></td>
            <td><span th:text="${RF.Format(result.get(3))}"></span></td>
        </tr>
        </tbody>
    </table>

<th:block th:if="${RF.getScoreNumber()==2}">
    <h3  style="text-align: center">Эмпирические значения критерия Фишера</h3>
    <table>
        <thead>
        <tr>
            <th>  </th>
            <th> Контрольная группа до начала эксперемента</th>
            <th> Эксперементальная группа до начала эксперемента </th>
            <th> Контрольная группа после эксперемента</th>
            <th> Эксперементальная группа после эксперемента</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result:${RF.getFisherResultList()}">
            <td>
                <span th:if="${resultStat.index==0}" th:text="'Контрольная группа до начала эксперемента'"></span>
                <span th:if="${resultStat.index==1}" th:text="'Эксперементальная группа до начала эксперемента'"></span>
                <span th:if="${resultStat.index==2}" th:text="'Контрольная группа после эксперемента'"></span>
                <span th:if="${resultStat.index==3}" th:text="'Эксперементальная группа после эксперемента'"></span>
            </td>
            <td><span th:text="${RF.Format(result.get(0))}"></span></td>
            <td><span th:text="${RF.Format(result.get(1))}"></span></td>
            <td><span th:text="${RF.Format(result.get(2))}"></span></td>
            <td><span th:text="${RF.Format(result.get(3))}"></span></td>
        </tr>
        </tbody>
    </table>
</th:block>

<h3>Данные для первой группы</h3>
<h3> Результаты тестов:</h3>
<table>
    <thead>
    <tr>
        <th> Обучающийся </th>
        <th> Результат до начала эксперемента</th>
        <th> Результат после эксперемента</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data1:${RF.getGroups.get(0)}">
        <td><span th:text="${F.getFirstNameGroup1().get(data1Stat.index)+' '+F.getSecondNameGroup1().get(data1Stat.index)}"> Результат </span></td>
        <td><span th:text="${data1}"> Результат </span></td>
        <td><span th:text="${RF.getGroups().get(1).get(data1Stat.index)}"> Результат </span></td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th> Значение </th>
        <th> Результат до начала эксперемента</th>
        <th> Результат после эксперемента</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="'Кол-во записей'"> Результат </span></td>
        <td><span th:text="${RF.getGroups.get(0).size()}"> Результат </span></td>
        <td><span th:text="${RF.getGroups.get(1).size()}"> Результат </span></td>
    </tr>
    <tr>
        <td><span th:text="'Среднее арифметическое'"> Результат </span></td>
        <td><span th:text="${F.Format(F.average(RF.getGroups().get(0)))}"> Результат </span></td>
        <td><span th:text="${F.Format(F.average(RF.getGroups().get(1)))}"> Результат </span></td>
    </tr>
    <tr>
        <td><span th:text="'Дисперсия'"> Результат </span></td>
        <td><span th:text="${F.Format(RF.getDispersion().get(0))}"> Результат </span></td>
        <td><span th:text="${F.Format(RF.getDispersion().get(1))}"> Результат </span></td>
    </tr>
    </tbody>
</table>
<h3>Данные для второй группы</h3>
<h3> Результаты тестов:</h3>
<table>
    <thead>
    <tr>
        <th> Обучающийся </th>
        <th> Результат до начала эксперемента</th>
        <th> Результат после эксперемента</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data2:${RF.getGroups.get(2)}">
        <td><span th:text="${F.getFirstNameGroup2().get(data2Stat.index)+' '+F.getSecondNameGroup2().get(data2Stat.index)}"> Результат </span></td>
        <td><span th:text="${data2}"> Результат </span></td>
        <td><span th:text="${RF.getGroups().get(3).get(data2Stat.index)}"> Результат </span></td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th> Значение </th>
        <th> Результат до начала эксперемента</th>
        <th> Результат после эксперемента</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="'Кол-во записей'"> Результат </span></td>
        <td><span th:text="${RF.getGroups.get(2).size()}"> Результат </span></td>
        <td><span th:text="${RF.getGroups.get(3).size()}"> Результат </span></td>
    </tr>
    <tr>
        <td><span th:text="'Среднее арифметическое'"> Результат </span></td>
        <td><span th:text="${F.Format(F.average(RF.getGroups().get(2)))}"> Результат </span></td>
        <td><span th:text="${F.Format(F.average(RF.getGroups().get(3)))}"> Результат </span></td>
    </tr>
    <tr>
        <td><span th:text="'Дисперсия'"> Результат </span></td>
        <td><span th:text="${F.Format(RF.getDispersion().get(2))}"> Результат </span></td>
        <td><span th:text="${F.Format(RF.getDispersion().get(3))}"> Результат </span></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/main">Вернуться</a>
</body>
</html>