<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Result Page</title>
</head>
<body>
<h3  style="text-align: center">Детальные результаты</h3>
<h3>Данные для первой группы</h3>
<h3> Результаты тестов:</h3>
<div th:object="${NF}">
<table>
    <thead>
    <tr>
        <th> Обучающийся </th>
        <th> Результат до начала эксперемента</th>
        <th> Результат после эксперемента</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data1:*{getGroup1CTF()}">
        <td><span th:text="${NF.getFirstNameGroup1().get(data1Stat.index)+' '+NF.getSecondNameGroup1().get(data1Stat.index)}"> Результат </span></td>
        <td><span th:text="${data1}"> Результат </span></td>
        <td><span th:text="${NF.getGroup1CTT().get(data1Stat.index)}"> Результат </span></td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th> Значение </th>
        <th> Результат до начала эксперемента</th>
        <th> Результат после эксперемента</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="'Кол-во записей'"> Результат </span></td>
        <td><span th:text="*{getGroup1CTF().size()}"> Результат </span></td>
        <td><span th:text="*{getGroup1CTT().size()}"> Результат </span></td>
    </tr>
    <tr>
        <td><span th:text="'Среднее арифметическое'"> Результат </span></td>
        <td><span th:text="*{averageInt(getGroup1CTF())}"> Результат </span></td>
        <td><span th:text="*{averageInt(getGroup1CTT())}"> Результат </span></td>
    </tr>
    <tr>
        <td><span th:text="'Дисперсия'"> Результат </span></td>
        <td><span th:text="*{dispersionFormat(getDispersionGroup1CTF())}"> Результат </span></td>
        <td><span th:text="*{dispersionFormat(getDispersionGroup1CTT())}"> Результат </span></td>
    </tr>
    </tbody>
</table>
<h3>Данные для второй группы</h3>
<h3> Результаты тестов:</h3>
    <table>
        <thead>
        <tr>
            <th> Обучающийся </th>
            <th> Результат до начала эксперемента</th>
            <th> Результат после эксперемента</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data2:*{getGroup2CTF()}">
            <td><span th:text="${NF.getFirstNameGroup2().get(data2Stat.index)+' '+NF.getSecondNameGroup2().get(data2Stat.index)}"> Результат </span></td>
            <td><span th:text="${data2}"> Результат </span></td>
            <td><span th:text="${NF.getGroup2CTT().get(data2Stat.index)}"> Результат </span></td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th> Значение </th>
            <th> Результат до начала эксперемента</th>
            <th> Результат после эксперемента</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="'Кол-во записей'"> Результат </span></td>
            <td><span th:text="*{getGroup2CTF().size()}"> Результат </span></td>
            <td><span th:text="*{getGroup2CTT().size()}"> Результат </span></td>
        </tr>
        <tr>
            <td><span th:text="'Среднее арифметическое'"> Результат </span></td>
            <td><span th:text="*{averageInt(getGroup2CTF())}"> Результат </span></td>
            <td><span th:text="*{averageInt(getGroup2CTT())}"> Результат </span></td>
        </tr>
        <tr>
            <td><span th:text="'Дисперсия'"> Результат </span></td>
            <td><span th:text="*{dispersionFormat(getDispersionGroup2CTF())}"> Результат </span></td>
            <td><span th:text="*{dispersionFormat(getDispersionGroup2CTT())}"> Результат </span></td>
        </tr>
        </tbody>
    </table>
<br/>
</div>
<a href="/main">Вернуться</a>
</body>
</html>