<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Task result</title>
</head>
<body>
 <table>
     <thead>
     <tr>
         <th>ФИО</th>
         <th>До эксперемента</th>
         <th>После эксперемента</th>
     </tr>
     </thead>
     <tr th:each="fio:${FIO}">
         <td th:text="${fio.getFirstName()+' '+fio.getLastName()}"></td>
         <td>
             <span th:text="${allResult.get(0).get(fioStat.index)}"/>
         </td>
         <td>
             <label>
                 <span th:text="${allResult.get(1).get(fioStat.index)}"/>
             </label>
         </td>
     </tr>
 </table>
 <br>
 <h3>Загрузить данные из файла</h3>
 <small>Данные загружаются в формате .txt. Пример данных:</small><br>
 <small>Имя Фамилия До_эксеремента После_эксперемента (Иван Иванов 123 543)</small><br>
 <small>Каждая запись должна быть с новой строки</small><br>
 <small>Если данных нет ставится "@"</small><br>
<form th:method="POST" th:action="@{/edit/task/result/file}" enctype="multipart/form-data">
    <input type="hidden" name="groupName" th:value="${groupName}">
    <input type="hidden" name="taskName" th:value="${taskName}">
    <input type="file" name="file" accept=".txt">
    <input type="submit" value="Отправить">
</form>
<div th:each="err:${error}">
    <span style="color: red" th:text="${err}"></span>
</div>
</body>
</html>