<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<form th:method="POST" th:action="@{/main/select}">
    <label for="Group1form"> Выберите первую группу</label>
    <select th:object="${group1}" th:field="*{id}" id="Group1form">
            <option th:each="group1:${groups1}" th:value="${group1.getId()}" th:text="${group1.getGroupName()}"></option>
    </select>
    <br/>
    <div style="color: red" th:if="${check==2}" th:text="'У группы 1 нет данных после эксперемента'"></div>
    <label for="Group2form"> Выберите вторую группу</label>
    <select th:object="${group2}" th:field="*{id}" id="Group2form">
        <option th:each="group2:${groups2}" th:value="${group2.getId()}" th:text="${group2.getGroupName()}"></option>
    </select>
    <div th:switch="${check}">
        <span style="color: red" th:case="3" th:text="'У группы 2 нет данных после эксперемента'"></span>
        <span style="color: red" th:case="4" th:text="'У группы 2 нет данных до эксперемента'"></span>
        <span style="color: red" th:case="5" th:text="'Нет данных для этого задания'"></span>
    </div>
    <label for="taskForm"> Выберите задание</label>
    <select th:object="${taskName}" th:field="*{id}" id="taskForm"  >
        <option th:each="taskName:${taskNames}" th:value="${taskName.getId()}" th:text="${taskName.getSampleName()}"></option>
    </select>
    <div style="color: red" th:if="${check==1}" th:text="'Выбраны одинаковые группы'"></div>
    <br/>
    <label for="selectScore">Выберите градацию шкалы порядка</label>
    <input id="selectScore" name="selectScore" type="number" min="2" max="9" value="3"/>
    <br/>
    <input type="submit" value="Выбрать данные"/>
</form>
<a href="/edit"> Редактировать</a>
</body>
</html>